<!DOCTYPE html>
<html ng-app="my_mod">
  <head>
    <meta charset="utf-8">
    <title>Shopping List</title>
    <link rel="stylesheet" href="style.css">
    <script src="angular.js"></script>
    <script src="script.js"></script>
  </head>
  <body ng-controller="my_cont">
    <div class="container">
      <h1 id="title">Products</h1>
      <ul ng-repeat="p in products">
        <li ng-click="addToList(p)" ng-class="{active:p.active}">{{ p.name }} <span> {{ p.price | currency }} </span> </li>
      </ul>
      <div class="total">
        <h1>Total: <span>{{ total() | currency }}</span></h1>
      </div>
    </div>
  </body>
</html>
